@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}

.site-top {
    max-width: 1000px;
    margin:auto;
    width: 100%;
    height: 70px;
    background-color: lightyellow;
    padding: 5px 0px;
}
.site-top img {
    display: none;
}
.borda1-top {
    max-width: 1000px;
    width: 100%;
    height: 5px;
    background-color: rgba(165, 98, 98, 0.644);
    border-radius: 5px;
    margin: auto;
}
.borda2-top {
    max-width: 1000px;
    width: 100%;
    height: 5px;
    background-color: rgba(165, 98, 98, 0.644);
    border-radius: 5px;
    margin: auto;
}
.site-title {
    padding: 2px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
.container-main {
    padding: 10px 20px;
    display: flex;
    max-width: 1000px;
    height: 400px;
    background-color: rgba(165, 98, 98, 0.644);
    margin: auto;
    justify-content: space-between;
}
.img01-main {
    display: flex;
    width: 45%;
    height: 350px;
    background-color: gray;
    position: relative;
}

.slider-text01 {
    display: none;

}
.img01-main:hover .slider-img01 {
    display: block;
    width: 45%;
    height: 350px;
    background-color: white;
    display: flex;
    position: absolute;

}

.img01-main:hover .slider-text01 {
    display: block;
    width: 45%;
    height: 350px;
    background-color: white;
    position: absolute;
}

.img02-main {
    display: block;
    width: 45%;
    height: 350px;
    background-color: gray;
}

header {
    max-width: 1000px;
    width: 100%;
    height: 60px;
    margin: auto;
    background-color: lightyellow;
}
nav {
    display: flex;
    max-width: 900px;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
}
nav > a {
    display: block;
    font-size: 1.5rem;
    width: 110px;
    height: 40px;
    text-align: center;
    font-family:'Permanent Marker', cursive;
    text-decoration: none;
    border-radius:10px;
    padding: 5px;

}
a:hover {
    background-color:rgba(165, 98, 98, 0.644);
    text-decoration: underline;
    transition-duration: 0.5s;
}
main {
    display: flex;
    max-width: 1000px;
    padding: 10px;
    background-color:rgba(165, 98, 98, 0.644);
    height: 400px;
    margin: auto;
    justify-content:space-between;
}

article {
    width: 25%;
    height: 350px;
    background-color:gray;
    margin: 10px;
}
.borda-bottom {
    max-width: 1000px;
    height: 5px;
    background-color: rgba(165, 98, 98, 0.644);
    margin: auto;
}
footer {
    max-width: 1000px;
    width: 100%;
    height:auto;
    padding: 5px 0px;
    margin: auto;
    margin-bottom: 5px;
    background-color: lightyellow;
}
.footer-info2 {
    display: none;
}
.box-bottom {
    display: none;
}
@media (max-width: 420px) {
    
    .site-top {
        position: relative;
    }

    .site-top .site-title {
        position: absolute;
        margin-left: 10px;
        padding: 2px;
        text-align: left;
        
    }
    .site-top img {
        position: absolute;
        top: 30%;
        left: 87%;
        display: block;
        width: 30px;
        height: 30px;
        object-fit: contain;
        
    }
    .borda2-top {
        margin-top:51px;
    }
    .container-main {
        height: 500px;
        flex-direction: column;
        background-color: lightblue;
        justify-content: center;
        }
    .img01-main {
        width: 80%;
        height: 200px;
        margin: auto;
    }
    .img02-main {
        width: 80%;
        height: 200px;
        margin: auto;
    }
    header {
        display: none;
    }
    main {
        flex-direction: column;
        background-color: lightblue;
        height: 800px;
    }
    article {
        width: 50%;
    }
    .box-center {
        transform: translate(89%, 0%);       
    }

    .box-bottom {
        display: block;
        width: 70%;
        height: 600px;
        margin: auto;
        margin-top: 10px;
    }

    .footer-info {
        display:none;
        content: "lorem lorem lorem";
    }
    .footer-info2 {
        display: block;
        text-align: center;
        padding-top: 10px;
    }

}